.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img{
    width: 250px;
    margin: 15px;
    border-radius: 15px;
}
.textos{
    margin: 0 auto;
    line-height: 25px;
    font-size: 18px;
}
.textos-titulo, .textos-ejemplos{
    font-size: 20px;
    background-color: rgba(70, 111, 245, 0.87);
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
}
.textos-parrafo, .textos-variable, .textos-constante{
    text-align: justify;
    padding-left: 15px;
    margin: 15px 0;
}
.textos-ejemplos{
    background-color: rgba(228, 113, 60, 0.87);
    width: 100px;   
}
.fila{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 5px auto;
    align-items: center;
}
.resultado{
    display:flex;
    align-items: center;
}
.Signo{
    font-size: 100px;
}
.elevado{
    display: flex;
    justify-content: flex-start;   
}
.SignoElevado{
    font-size: 45px;
}
.primerElemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}
.textos-primerElemento{
    font-size: 18px;
}
.contenedor-primerElemento{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(239, 170, 253);
}
.textos-primerElemento{
    padding: 5px;
    border-radius: 5px;
}
.primerElemento-coeficiente{
    border: 2px solid rgb(212, 39, 247);
}
.primerElemento-variable{
    border: 2px solid rgba(228, 113, 60, 0.87);
}
.contenedor-primerElemento .cts{
    text-decoration: overline;
    color: rgb(212, 39, 247);
}
.contenedor-primerElemento .var{
    text-decoration: underline;
    color: rgba(228, 113, 60, 0.87);
}
.contenedorImg{
    margin: 0 15px;
    border: 3px solid rgb(212, 39, 247) ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.imagen{
    width: 67px;
    height: 60px;
    margin: 2px;
}
.contendor-segundoElemento{
    display: flex;
    justify-content: center;
}
.textos-segundoElemento{
    padding: 5px;
    border: 3px solid rgb(212, 39, 247);
    border-radius: 5px;
}
.canvas{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.numeros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imgNumeros{
    margin: 0 25px;
}
.preguntas{
    background-color: rgba(228, 245, 70, 0.87);
}
.spanVar{
    background:  rgb(212, 39, 247);
    border-radius: 5px;
    padding: 2px;
}
.spanCts{
    background-color: rgba(66, 228, 60, 0.87);  
    border-radius: 5px;
    padding: 2px;   
}
.constantes{
    background: rgba(66, 228, 60, 0.87);
}
.respuestas{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 25px;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba(66, 228, 60, 0.87);
    background: none;
    box-shadow: 3px 3px rgba(66, 228, 60, 0.87);
    font-size: 25px;
    cursor: pointer;
    outline:none;
}
.btn:hover{
    background:rgba(70, 111, 245, 0.87) ;
    border: 2px solid rgba(70, 111, 245, 0.87);
    box-shadow: 3px 3px rgba(70, 111, 245, 0.87);
}
.varIndependiente > h2 ,.varDependiente > h2{
    text-align: center;
    margin: 10px 0;
}
.varIndependienteImg, .varDependienteImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.precio{
    padding: 7px;
    border: 3px solid rgba(70, 111, 245, 0.87);
    border-radius: 5px;
}
.bombillo{
    color: rgb(255, 255, 64);
    font-size: 30px !important;
    cursor: pointer;
    margin: 5px;
}
.bombillo:hover{
    color: rgba(70, 111, 245, 0.87);
}
.varPreguntas{
    width: 400px;
    margin: 15px auto;
}
.varDependienteContenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.varDependienteImg{
    margin: 15px;
}